.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 80%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 18%
    right: 1%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 68%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white
.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
.bloque-texto-g.color-primario 
  background-color: #5A2C8C
  border-radius: 0 300px 300px 0
.bloque-texto-g__texto 
  position: relative
  left: -70px
  z-index: 2
  @media screen and (max-width: 992px)
    margin: 0 auto
    width: 100%
    position: relative
    left: 0px /* micro ajuste visual */
    margin-top: -13rem
  @media screen and (max-width: 767px)
    margin: 0 auto
    width: 100%
    position: relative
    left: 0px /* micro ajuste visual */
    margin-top: -10rem
.cajon.color-secundario 
  background-color: #DCBFDC
.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 40px
  padding-right: 40px
  left: -30px
  top: 8px
  width: fit-content
.bg1
  background-color: #DCBFDC
.bg4
  background-color: #CDBFDC
  border-radius: 20px
.bg2
  background-color: #D2E6BD
.bg3
  background-color: #6CAC25

.linea-tiempo-d.color-primario .linea-tiempo-d__item__number
  background-color: #CDBFDC !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item__content
  background-color: #CDBFDC !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #6CAC25 !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__content
  background-color: #D2E6BD !important
.fondo01
  background-image: url('../assets/curso/Tema1/fondo01.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px) 
    background-size: cover 

.tarjeta1
  background-image: url('../assets/curso/Tema1/tarjeta.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px) 
    background-size: cover 
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #6CAC25
  border: #6CAC25

.slyder-a__bullets__item--active 
  background-color: #6CAC25 !important
  border-color: #6CAC25 !important
.slyder-a__bullets__item 
  background-color: #232470
  border: 1px solid #232470
.fa-chevron-left, .fa-chevron-right
  color: #6CAC25 
.text-left
  text-align: left !important
.icono-advertencia 
  display: inline-block
  width: 20px
  height: 20px
  background-image: url('../assets/curso/Tema1/advertencia.png')
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.titulo-segundo:after 
  border-left-color: #2C2E8C

.fila-altura-igual 
  display: flex
  align-items: stretch

.fila-altura-igual > [class*="col-"] 
  display: flex

.fila-altura-igual img 
  width: 100%
  height: 100%
  object-fit: cover

.fila-altura-igual .cajon 
  width: 100%
  display: flex
  align-items: center /* centra vertical el texto */

.fila-equal
  display: flex
  align-items: stretch

.fila-equal > [class*="col-"] 
  display: flex

.img-full 
  width: 100%
  height: 100%
  object-fit: cover
  display: block


.contenido-texto 
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
.tarjeta--boton 
  background-color: #6cac25
.circl-arrow .slyder-f__btn i
  font-size: 1.2rem
  background-color: #6CAC25
  //background-color: $color-acento-contenido
  color: $white
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center

.no-pointer .tarjeta--boton
  cursor: initial !important
.tarjeta--boton.color-primario:active, .tarjeta--boton.color-primario:focus, .tarjeta--boton.color-primario:hover
  background-color: #CDBFDC !important
.tarjeta--boton.color-primario:hover, .tarjeta--boton.color-primario:hover * 
  color: #12263F !important





